@import "../../assets/sass/index.scss";

.project-card{
    background-color: $gray-green;
    border-radius: 20px;
    padding: 40px;
    font-family: $default-font-family;
    user-select: none;
}

.project-title{
    margin: 12px 0px;
    font-size: 32px;
    font-weight: bold;
}

.card-type{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

    font-size: 18px;
    color: $dark-gray;

    .project-type{
        margin-right: 32px;
    }
}

.project-shortDesc{
    color: $dark-gray;
    margin-bottom: 28px;
}

.project-detailBtn{
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}