@import "../../../assets/sass/index.scss";

.personal-info{
    font-family: $default-font-family;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-title{
        margin: 120px 0px 36px 0px;
        font-size: 60px;
        font-weight: 549;
    }

    .info-location{
        display: flex;
        flex-direction: row;
        margin-bottom: 36px;

        .location-icon{
            width: 22px;
            height: 22px;
            margin-right: 6px;
        }

        .location-detail{
            font-size: 20px;
        }
    }

    .info-intro{
        text-align: center;
        line-height: 24px;
        font-size: 16px;
        
        margin-bottom: 36px;
        max-width: 70%;
    }
}